*{
    margin:0;
    padding: 0;
}
body{
    font-family: Microsoft YaHei;
    background-color: #DEDEDE;
}
.clr{
    clear: both;
}
.web-container{
    width: 100%;
}
input,select,textarea{
    box-sizing: border-box;
}
.website-header{
    height: 60px;
    width: 100%;
    background-color: #333333;
}
.website-header img{
    height: 60px;
    width: 120px;
    margin-left: 40px;
    float: left
}
.website-header nav ul {
    float: right;
    height: 60px;
    margin-right: 20px;
}
.website-header nav ul li{
    display: inline;
    line-height: 60px;
    padding: 0 10px;
}
nav a{
    color:white;
    text-decoration: none;
    font-size: 14px;
}
nav a:hover{
    color: #ABAAA5;
}
a.active{
    color: #ABAAA5;
}
aside{
    float: right;
    width: 400px;
    margin-right: 20px;
}
.container{
    margin: 20px 500px 20px 20px;
}
article,aside{
    background-color: #FFFFFF;
    padding: 40px 30px;
    box-shadow: #848484 1px 1px 1px;
}
article{
    margin-bottom: 20px;
}
.article-header,.article-header h1,.article-header h3{
    margin-bottom: 10px;
}
.article-header h3{
    color: #626262;
}
.article-header span,.article-header time{
    color: #626262;
    font-size: 12px;
}
.article-content p,.article-content ul{
    font-size: 16px;
    text-indent: 32px;
}
.article-content *{
    margin:2px 0;
}
.article-content p,.article-content img{
    margin-bottom: 15px;
}
.article-list-normal{
    list-style: none;
}
.picture-list{
    margin-left: 20px;
}
.picture-list li{
    display: inline-block;
    margin:20px;
    /*margin-bottom: 10px;*/
}
figure{
    width: 140px;
    height: 140px;
    border: 1px #CECECE solid;
    text-align: center;
}
figcaption{
    font-size: 14px;
    margin:8px auto;
}
figure img{
    width: 120px;
    height: 90px;
}
.table-module{
    margin-top:10px;
}
.table-module table{
    width: 90%;
    text-align: center;
    font-size: 14px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
th{
    background-color: #333333;
    color:white;
}
tr{
    height: 20px;
}
th,td{
    padding: 4px;
}
th,tr,td{
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    text-align: left;
}
tr:last-child{
    background-color: #CCCCCC;
}
form{
    margin-top: 20px;
    font-size: 14px;
}
.form-left-side{
    width: 30%;
    float: left;
    text-align: right;
}
.form-left-side div{
    height:40px;
    line-height: 40px;
}
.form-right-side{
    width: 70%;
    float: left;
    text-align: left;
}
.form-right-side div{
    margin-left: 10px;
    height:40px;
    line-height: 40px;
}
.form-right-side textarea{
    margin-left: 10px;
    width: 280px;
    border-radius: 5px;
}
.input-description{
    color: #A7A3A4;
}
.form-input{
    width: 280px;
    height: 30px;
    padding-left: 5px;
}
.submit-btn{
    width: 100%;
    height: 40px;
    border-radius: 9px;
    background-color: #3355D0;
    border: 0;
    margin-top: 16px;
}
footer{
    height: 60px;
    width: 100%;
    background-color: #000000;
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 60px;
}
