 body{
     font-size: 0.11rem;
     overflow-x: hidden;
     height: 100%;
 }
.header-search{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.142rem;
    background-color: #FFFFFF;
    height: 0.408rem;
    line-height:  0.408rem;
    z-index: 200;
    border-bottom: solid 0.01rem #DFDFE1;
}
.header-search form{
    width: 100%;
    height: 100%;
}
.search{
    margin:0 auto;
    width: 78%;
    height: 0.267rem;
    border-radius:0.142rem;
    border: 0.01rem #e7e7e7 solid;
    padding-left: 0.311rem;
    outline: none;
    background: url("../images/pic_sousuo_03.png") no-repeat 0.071rem 0.062rem #EFEFF4;
    background-size: 0.142rem 0.142rem;
    box-sizing: border-box;
}
.cancel-btn{
    width: 8%;
    margin-left:2%;
    display: inline-block;
    color: #9E9FA1;
    min-width: 0.302rem;
    box-sizing: border-box;
}
.search-list{
    display: none;
}
.hot-search-keys{
    position: relative;
    top:0.408rem;
    background-color: #FFFFFF;
    width: 100%;
    height: 0.71rem;

    border-bottom: solid 0.01rem #DFDFE1;
}
.hot-search-header{
    padding:0.071rem 5%;
}
.hot-list{
    height: 100%;
    overflow: hidden;
}
.hot-search-list{
    white-space: nowrap;
    height: 102%;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 1% 5%;
}
.hot-search-list li{
    font-size: 0.124rem;
    background-color: #F0F2F5;
    padding: 0.027rem 0.071rem;
    border-radius: 0.036rem;
    display: inline;
    margin-right: 0.044rem;
}
.space{
    width: 100%;
    height: 0.089rem;
    background-color: #F1F2F6;
}
.history-search{
    position: relative;
    top:0.408rem;
}
.history-search-header{
    padding:0.044rem 5%;
}
.history-search-list,.search-list{
    list-style: none;
    background-color: #FFFFFF;
}
.history-search-list li,.search-list li{
    padding-left:  5%;
    width: 100%;
    height: 0.356rem;
    line-height: 0.356rem;
    color: #797979;
    border: 0.01rem #F4F4F6;
    border-top-style: solid;
}
.history-search-list li:last-child{
    border: 0.01rem #F4F4F6;
    border-top-style: solid;
    border-bottom-style: solid;
}
.clear-history-btn{
    width: 60%;
    height: 0.32rem;
    line-height: 0.32rem;
    text-align: center;
    color: #767676;
    border: 0.01rem solid #A8A8A8;
    margin: 0.178rem auto 0 auto;
    border-radius:  0.01rem;
    position: relative;
    top: 0.408rem;
    margin-bottom: 0.178rem;
}




/*搜索筛选START*/
.w11{width:11% !important;}
.w14{width:14% !important;}
.w84{width:84% !important;}
.w86{width:86% !important;}
.w40{width:40%;}
.ba-si15{background-size:15px !important;}
.ma_lt2{margin-left:2% !important;}
.ma_lt3{margin-left:3% !important;}
.ma_rt14{margin-right:14%;}
.mtb_12{margin:12% 0 2% 0;}
.cr_444{color:#444;}
.cr_757575{color:#757575}
.r_16{right:16.5% !important;}
/* 整体搜索头部 */
.head-outside{width:100%;position:relative;background-color:#ffffff; height:48px;z-index:10;}
.head-outside *{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fixed_l0_t0{
	position:fixed;
	left:0;
	top:0;
}
.abs_l0_t0{
	position:absolute;
	left:0;
	top:0;
}
.fixed_ul_search{
	position:fixed;
	z-index:10;
}
.navBox_list_index{margin: 9px 0 9px 2.5%;width: 95%;height: 30px;color: #444;border-radius:5px;background:#f0f2f5;}
.navBox_list_search{padding: 9px 2.5%;position: relative;min-width: 84%;}
.bg_red_1{background-color:#F23030}
/* 放大镜 */
.search_find_icon_index{
	position: absolute;
    top: 10px;
    left: 2.5%;
    border-radius: 2px 0px 0px 2px;
    height: 30px;
    width: 6%;
    float: left;
    background: url(../images/pic_sousuo_03.png) no-repeat 4px 7px;
    background-size: 15px;
}
.search_find_icon_search{
  position: absolute;
  top: 9px;
  left: 2.5%;
  border-radius: 2px 0px 0px 2px;
  height: 30px;
  width: 30px;
}
/* 清除输入框 */
.input_sou_1{
  background: url(/appemall/images/pic_sousuo_04.png) no-repeat;
  width: 18px;
  height: 18px;
  background-size:17px !important;
  position: absolute;
  top: 16px;
  right: 13%;
}
.input_sou_search{
	background: url(/appemall/images/pic_sousuo_04.png) no-repeat;
	width: 18px;
	height: 18px;
	background-size:17px !important;
	position: absolute;
	top: 15px;
	right: 4%;
}
/* 取消文字样式  */
.cancel-txt{height:30px;line-height:30px;text-align:center;font-size:14px;}
.cancel-txt_1{height:30px;line-height:30px;text-align:center;font-size:14px; margin: 9px 0;}
.cancel-txt-search{height:34px;line-height:34px;text-align:center;font-size:14px;}
/* 热搜  */
.hot-search-list{
    white-space: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding:1% 0;
}
.hot-search-list li {
	display: inline;padding:1% 3%;margin:2% 3% 0 0;border-radius:27px;background:#f1f2f6;color:#000;text-align:center;list-style:none;font-size:14px;
}
.mt_48{
	margin-top:48px;
}
.input_ware_search{
  font-family: Arial, 微软雅黑;
  height: 30px;
  border: none;
  border-radius:5px;
  width: 100%;
  outline: none;
  color: #444;
  background:#f0f2f5;
  padding:2px 23px 2px 30px;
  font-size: 14px;
}
.search_list_one_classify_1{
 position: absolute;
  top: 9px;
  right:0;
  border-radius: 2px 0px 0px 2px;
  height: 30px;
  width: 30px;
  margin-left: 15%;
}
.pro-list:first-child{
	border-top:0;
}
.filter-box_1 li{width:auto;padding:0 2%;margin:3% 3% 3% 0;}
.promptbox h5{margin-top: 10px;margin-bottom: 10px;font-size: 14px;}

/* 重写搜索  */
.search-outside{position:absolute;top:48px;left:0px;bottom:60px;width: 100%;overflow-x: hidden;overflow-y: scroll;-webkit-overflow-scrolling:touch;}
.input_ware{
  font-family: Arial, 微软雅黑;
  height: 30px;
  border: none;
  border-radius:5px;
  width: 86%;
  outline: none;
  color: #444;
  background: #f0f2f5;
  padding: 2px 0;
  font-size: 14px;
  padding-left:6px;
  margin-left: 6%;  
}
.input_ware::-webkit-search-cancel-button { display: none; }
.input_sou{
  background: url(../images/pic_sousuo_03.png) no-repeat;
  width: 16px;
  height: 16px;
  margin: 10.5px 5px 5px 5px;
  background-size: 15px;
}
